<p style="color: green"><%= notice %></p>

<%= render @user_reccord %>

<div>
  <%= link_to "Edit this user reccord", edit_user_reccord_path(@user_reccord) %> |
  <%= link_to "Back to user reccords", user_reccords_path %>

  <%= button_to "Destroy this user reccord", @user_reccord, method: :delete %>
</div>
